$colors: (
	first         : #010101,
	second        : #9B0000,
	third         : #E8E8E8,
  gray          : #f4f4f4,
	border        : #ddd,

	text          : #333,
	text-light  	: #fff,

	twitter	      : #55acee,
	facebook      : #3b5998
);

$breakpoints: (
	'xlarge'          : "(min-width: 1360px)",
	'large'           : "(min-width: 1024px)",
	'>=small<=medium' : "(min-width: 240px) and (max-width: 1023px)",
	'medium'          : "(min-width: 700px) and (max-width: 1023px)",
	'medium-small'    : "(min-width: 500px) and (max-width: 860px)",
	'small'           : "(min-width: 240px) and (max-width: 699px)",
	'small-small'     : "(min-width: 240px) and (max-width: 500px)"
)!default;
