.banner {
  background: map-get($colors, first);
  color: white;
  display: flex;
  flex-direction: column;
  height: 340px;
  justify-content: space-between;
  padding: 26px;
  position: relative;

  @include breakpoint('>=small<=medium') {
    height: auto;
  }

  @include breakpoint('small'){
    padding: 20px;
  }

  img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    width: 60%;
    z-index: 0;

    @include breakpoint('small'){
      opacity: .8;
    }
  }

  &-head {
    display: flex;
    justify-content: space-between;

    p {
      align-items: center;
      display: flex;
      align-self: flex-start;

      .triangle {
        margin-left: 6px;
      }
    }
  }

  &-content {
    width: 80%;
    position: relative;
    z-index: 1;

    @include breakpoint('xlarge'){
      width: 78%;
    }

    @include breakpoint('>=small<=medium') {
        margin-top: 40px;
        width: 84%;
    }

    @include breakpoint('small'){
      width: 100%;
    }

    p {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0;
    }


    .counter {
      color: map-get($colors, second);
      font-size: 5.4rem;
      @include breakpoint('medium'){
        font-size: 4.2rem;
      }

      @include breakpoint('small'){
        font-size: 3.8rem;
      }
    }
  }
}
