#filtered {
  display: none;
}

.filter {
  padding: 10px 0;
  font-size: 0.98rem;

  &-active {
    display: block;
  }

  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      display: flex;
      align-items: center;

      .icon-filter {
        margin-right: 10px;
      }

      h3 {
        margin: 0;
      }
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
  }

  &-inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  label {
    margin-bottom: 8px;
    color: #888;
  }

  &-select {
    position: relative;
    display: inline-block;
    border-color: map-get($colors, border);

    &:after {
      color: map-get($colors, second);
      content: "▾";
      display: block;
      margin-top: -14px;
      position: absolute;
      right: 20px;
      top: 50%;
      z-index: 1;
    }

    select {
      appearance: none;
      background-color: transparent;
      border-radius: 100px;
      border: 1px solid map-get($colors, border);
      position: relative;
      cursor: pointer;
      font-size: .98rem;
      padding: 10px 6px 10px 20px;
      width: 100%;
      z-index: 2;

      @include breakpoint('xlarge') {
        margin-right: 8px;
        padding: 14px 6px 14px 20px;
      }

      &:focus {
        outline: none;
        border-color: #ddd;
      }
    }
  }
}

.filter-by {
  flex-wrap: wrap;

  &-age {
    flex-basis: 28%;

    @include breakpoint('xlarge') {
      flex-basis: 25%;
    }

    @include breakpoint('medium') {
      flex-basis: 34%;
    }

    @include breakpoint('small') {
      flex-basis: 100%;
    }
  }

  &-state {
    flex-basis: 28%;

    @include breakpoint('xlarge') {
      flex-basis: 24%;
    }

    @include breakpoint('medium') {
      flex-basis: 32%;
    }

    @include breakpoint('small') {
      flex-basis: 80%;
      margin-top: 18px;
    }
  }

  &-date {
      flex-basis: 28%;

      @include breakpoint('xlarge') {
        flex-basis: 24%;
      }

      @include breakpoint('medium') {
        flex-basis: 26%;
      }

      @include breakpoint('small') {
        flex-basis: 80%;
        margin-top: 18px;
      }
  }
}


#close-filter {
  display: none;
}
//btn options
.btn-option {
  background-color: map-get($colors, border);
  border-radius: 100px;
  color: #888;
  display: inline-block;
  margin-right: 4px;
  cursor: pointer;
  input[type=radio] {
    visibility: hidden;
    outline: none;
    appearance: none;
    width: 1px;
    height: 1px;
  }

  label {
    user-select: none;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding: 8px 20px 2px 10px;
    display: inline-block;
    margin: 0;

    @include breakpoint('xlarge') {
      padding: 10px 24px 6px 12px;
    }

    @include breakpoint('>=small<=medium') {
      padding: 6px 16px 0px 6px;
    }

  }

  @include breakpoint('xlarge') {
    margin-right: 8px;
  }

  @include breakpoint('medium') {
    margin-right: 6px;
  }

  &-on {
    background-color: map-get($colors, first);
    label {
      color: white;
    }
  }
}

.message-no-cards {
  padding: 80px 0;
  text-align: center;

  h2, p {
    color: #888;
    text-transform: none;
  }
}
