.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  &-share {
    display: flex;
    flex-direction: column;

    justify-content: center;
    padding: 20px;

    h3 {
      font-size: 1.5rem;
    }
  }

  &-copy {
    font-size: .8rem;
  }

}

.list-social {
  display: flex;
  margin-bottom: 10px;

  &-item {
    margin: 0 10px;

    svg {
      transition: all .4s ease;
    }
    &:hover {
      svg {
        transform: scale(1.1);
      }
    }
  }
}
