.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  font-size: .9rem;

  @include breakpoint('>=small<=medium') {
    padding: 40px 20px;
  }

  @include breakpoint('small') {
    display: block;
  }

  &-message {
    flex-basis: 65%;
  }

  &-share {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    text-align: right;

    @include breakpoint('small') {
      text-align: center;
      margin-top: 20px;
    }

  }

  &-copy {
    font-size: .8rem;
  }

}

.list-social {
  display: flex;
  margin-bottom: 10px;
  flex-direction: row-reverse;

  @include breakpoint('small') {
    justify-content: center;
  }

  &-item {
    margin-left: 10px;

    svg {
      transition: all .4s ease;
    }
    &:hover {
      svg {
        transform: scale(1.1);
      }
    }
  }
}
