.link {
  color: map-get($colors, second);

  &:hover {
    text-decoration: underline;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-top: 6px solid map-get($colors, second);
  border-right: 6px solid transparent;
  border-left:  6px solid transparent;
}

.btn {

}
.botton-back {
  transition: all .8s ease;

  svg {
    margin-right: 6px;
    position: relative;
    bottom: -2px;
  }
  a {
    color: map-get($colors, second);
    text-transform: capitalize;
    font-size: 1.1rem;
  }

  &:hover {
    a {
      text-decoration: underline;
    }

    svg {
      transform: translateX(-6px) scale(1.16);
    }
  }
}

.button-up {
  background: map-get($colors, second);
  border-radius: 100px;
  bottom: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  height: 45px;
  justify-content: center;
  position: fixed;
  right: 20px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 45px;
  z-index: 1;

  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    .icon-up {
      margin-bottom: 6px;
    }
  }

  @include breakpoint('xlarge') {
    height: 50px;
    width: 50px;
  }
  @include breakpoint('medium') {
    height: 38px;
    width: 38px;
  }
}
