.link {
  color: map-get($colors, second);

  &:hover {
    text-decoration: underline;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-top: 6px solid map-get($colors, second);
  border-right: 6px solid transparent;
  border-left:  6px solid transparent;
}
