.grid {
   display: grid;
   max-width: 90%;
   margin: 0 auto;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 2rem;
}

.col-1 {
  grid-column: 1 / 2;
}

.col-2 {
  grid-column: 2 / 3;
}

.col-3 {
  grid-column: 3 / 4;
}
