.icon-tie {
  height: 60px;
  width: 40px;
}
.icon-date-death {
    height: 20px;
    width: 20px;
}

.icon-social {
  height: 40px;
  width: 40px;
}

.icon-back {
  width: 20px;
  height: 14px;
  fill: map-get($colors, second);
}
