.icon {
  width: 20px;
  height: 20px;

  @include breakpoint('>=small<=medium') {
    width: 16px;
    height: 16px;
  }

  &-back {
    height: 14px;
    fill: map-get($colors, second);
  }

  &-tie {
    height: 60px;
    width: 40px;
  }

  &-social {
    height: 40px;
    width: 40px;
  }

  &-up {
    fill: #ffffff;
    height: 15px;
    transform: rotate(90deg);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
}
