body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Chivo', sans-serif;
  color: get-color('text');
  line-height: 1.6;
  font-size: 18px;

  @include breakpoint('small') {
    font-size: 16px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: map-get($colors, first);
}

h1, h2, h3, h4 {
  margin: 0;
  margin-bottom: 10px;
}

p {
  margin: 0;
}


h1 {
  font-size: 2.6rem;
  text-transform: uppercase;
  line-height: 1.2;

  @include breakpoint('xlarge') {
    font-size: 3rem;
  }

  @include breakpoint('medium') {
    font-size: 2.2rem;
  };

  @include breakpoint('small'){
    font-size: 1.6rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2.2rem;

  @include breakpoint('medium') {
    font-size: 1.3rem;
  };

  @include breakpoint('small'){
    font-size: 1.2rem;
  }
}

h3 {
  font-size: 1.3rem;

  @include breakpoint('medium') {
    font-size: 1.1rem;
  };

  @include breakpoint('small'){
    font-size: 1rem;
  }
}

h4 {
  font-size: 1.1rem;

  @include breakpoint('>=small<=medium') {
    font-size: 1rem;
  }
}

h2, h3, h4 {
  text-transform: capitalize;
}

button {
  appearance: none;
  padding: 0;
  border: 0;
  text-align: start;
  background: transparent;
  cursor: pointer;
  font-size: inherit;
  &:focus {
    outline: none;
  }
}
